@{
    ViewData["Title"] = "CRUDzinho";
}

<div class="text-center">
    <h1 class="display-4">CRUDzinho</h1>
    <p>with MySql and ASP.NET Core.</p>

    <p><a href="./Usuarios">Go to action</a></p>
</div>
